body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

#menu {
    width: 200px;
    border-right: 1px solid #ccc;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul .film-item {
    padding: 10px;
    cursor: pointer;
}

#menu ul .sold-out {
    color: gray;
    text-decoration: line-through;
}

#movie-details {
    flex-grow: 1;
    margin-left: 20px;
}

#buy-ticket-btn {
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
}

